.product-details {
    padding: 60px 0;
    background-color: #f8f8f8;

    .container {
        background-color: #ffffff;
        margin: 0 auto;

        .btn_buy {
            padding: 8px 16px;
            top: 0;
            border: none;
            outline: none;
            min-width: 120px;
            background-color: var(--primary-color--);
            color: white;
            font-weight: 800;
            font-size: 18px;
            border-radius: 99px;
            cursor: pointer;
            animation: vibrate 2s linear infinite;
        }
        .cancel-animation {
            opacity: 0.5;
            cursor: not-allowed;
            background-color: gray;
            color: #ccc;
            animation-play-state: paused;
        }
        @keyframes vibrate {
            5% {
                transform: rotate(2deg);
            }
            15% {
                transform: rotate(-2deg);
            }
            25% {
                transform: rotate(2deg);
            }
            35% {
                transform: rotate(-2deg);
            }
            45% {
                transform: rotate(0);
            }
        }
    }

    .product-image {
        float: left;
        margin-right: 40px;

        img {
            width: 200px;
            height: 200px;
        }
    }

    .product-image img {
        max-width: 100%;
        height: auto;
    }

    .product-info {
        overflow: hidden;
    }

    .product-title {
        font-size: 36px;
        margin-bottom: 20px;
        color: var(--primary-color--);
        display: inline-block;
    }

    .product-stats {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .product-label {
        font-weight: bold;
        margin-right: 5px;
    }

    .product-value {
        font-weight: normal;
    }

    .product-price {
        margin-right: 30px;
    }

    .product-sold,
    .product-stock {
        margin-right: 20px;
    }

    .product-description {
        margin-top: 40px;
    }

    .product-section-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .product-text {
        font-size: 16px;
        line-height: 1.6;
    }
}
