* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Tahoma;
    font-size: 14px;
}

body {
    background: #f8f8f8;
}

:root {
    --bgcolor--: #2d2d2d;
    --primary-color--: #a50a06;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

input {
    outline: none;
}

a:hover {
    color: unset;
    text-decoration: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.h-body {
    min-height: 50vh;
}

.mt-120 {
    height: 120px;
}

header {
    z-index: 9999;
    background: var(--bgcolor--);
    position: fixed;
    left: 0;
    right: 0;
}

.header {
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header .logo {
    height: 50px;
}

.header-input {
    display: flex;
    width: 100%;
    border-radius: 999px;
    border: 1px solid #ccc;
}

.header-input input {
    width: 100%;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    border: none;
    padding: 8px 16px;
    outline: none;
}

.header-input .header__input--icon {
    display: flex;
    padding: 0 12px;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #fabd0d;
    color: white;
}

.header__opstion {
    display: flex;
    justify-content: flex-end;

    .account {
        cursor: pointer;

        .overlay {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0.4;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            display: none;
            z-index: 9999;
        }

        b {
            font-size: 16px;
        }

        .modals {
            background-color: var(--primary-color--);
            width: 400px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .btn_modal {
            width: 80px;
            padding: 8px 16px;
            margin: 24px 16px;
            border: none;
            border-radius: 99px;
            outline: none;
            cursor: pointer;
        }

        .show {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            animation: ani 0.4s linear forwards;
        }

        @keyframes ani {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.header__opstion--title {
    min-width: 50px;
    color: white;
    font-size: 16px;
    margin: 0;
}

.header__opstion--item {
    text-align: center;
    padding: 8px;
}

.header__opstion--link {
    position: relative;
}

.number__product {
    width: 20px;
    height: 20px;
    background-color: yellow;
    color: red;
    position: absolute;
    top: -12px;
    right: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav */
.container__head {
    background-color: var(--bgcolor--);
}

.container__head--navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.head__navbar--item {
    color: white;
    position: relative;
    z-index: 2;
}

.head__navbar--item i:first-child {
    opacity: 0.5;
    margin-right: 16px;
}

.head__navbar--link {
    color: white;
    padding: 8px 0;
    display: block;
}

.head__navbar--item:hover .head__sale {
    display: block;
}

.head__sale--link {
    color: black;
    font-weight: 600;
    padding: 8px 16px;
    display: block;
}

.head__navbar--link::before {
    content: '';
    display: none;
    border-top: 3px red solid;
    position: absolute;
    bottom: 0;
    width: 0;
    animation: gthrow 0.3s linear both;
}

.head__navbar--link:hover.head__navbar--link::before {
    display: block;
}

.active {
    color: red !important;
}

//Animation

@keyframes gthrow {
    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes rotatez {
    25% {
        transform: scale(0.8) rotate(-10deg);
    }
    40% {
        transform: scale(1) rotate(5deg);
    }

    60% {
        transform: scale(1) rotate(-5deg);
    }

    70% {
        transform: scale(1) rotate(5deg);
    }

    80% {
        transform: scale(1) rotate(-5deg);
    }

    90% {
        transform: scale(1) rotate(5deg);
    }

    100% {
        transform: scale(1) rotate(-5deg);
    }
}
.bbbutton {
    padding: 6px 12px;
    border: none;
    outline: none;
    background: var(--primary-color--);
    color: white;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    right: 0;
}
